@model IQueryable<Recipe>
@foreach (var p in Model ?? Enumerable.Empty<Recipe>())
{
	<div>
		<h3>@p.RecipeCategory</h3>
		<h4>@p.RecipeName</h4>
		<h5>@p.RecipeCreator</h5>
		<h5>@p.RecipeRating</h5>
		<h3>Ingredients</h3>
		<p style="white-space: pre-line">@p.RecipeIngredients</p>
		<h3>Instructions</h3>
        <p style="white-space: pre-line">@p.RecipeInstructions</p>
	</div>
}
